// Surcharge Bootstrap

$transparent: transparent;
$primary: #e91e63;
$secondary: #3c4858;
$gray-500: #999999;

$font-family-sans-serif: Montserrat;


@import "../node_modules/bootstrap/scss/bootstrap";
