@import 'custom.scss';

body{
    background-color: $secondary !important;
}

/*** Class Generic ***/
.custom-margin-top-100{
    margin-top: 100px;
}
.custom-padding-top-100{
    padding-top: 100px;
}

/*** Header - NavBar ***/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparent;
    transition: all 0.4s;
    nav{
        padding: 0.8rem 1rem !important;

        div.navbar-collapse{
            justify-content: flex-end;
        }
        li.nav-item{
            margin: 0px 10px !important;
        }
        li.nav-item:last-child{
            margin-left: 25px !important;
            background-color: $primary;
            padding: 0 10px;
            border-radius: 3px;
            box-shadow: 0 2px 2px 0 rgba(233,30,99,0.14), 0 3px 1px -2px rgba(233,30,99,0.2), 0 1px 5px 0 rgba(233,30,99,0.12);
            a.nav-link{
                color: $white !important;
                padding: 10px 15px;
                font-size: 14px;
            }
        }
        li.nav-item:hover:last-child{
            box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42), 0 4px 23px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(233,30,99,0.2)
        }
        a.nav-link.active{
            color: $primary !important;
        }
        a{
            color: $white;
            transition: color 0.2s
        }
    }
    .navbar-nav a.nav-link:hover{
        color: $primary !important;
    }
    .navbar-nav a.nav-link::after{
        content: '';
        position: relative;
        display: block;
        height: 1.5px;
        background-color: $primary;
        width: 0%;
        transition: width 0.2s;
    }
    .navbar-nav a.nav-link:hover::after, a.nav-link.active::after{
        width: 15px;
    }
    nav.navbar-light > a.navbar-brand{
        color: $secondary;
    }
    nav.navbar-light > a.navbar-brand:hover{
        color: $primary;
    }
}
header.bg-transparent{
    padding-top: 10px;
}
header:not(.bg-transparent){
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}


/*** Home Page - First section ***/

section#section-first{
    background-image: url("/img/dog-attitude-toiletteur-grenoble.jpg");
    background-color: rgba(0, 0, 0, 0.3) !important;
    background-blend-mode: color;
    background-size: cover;
    background-position: center right;
    padding: 230px 0px;
}

/*** Section de transition - Horaires ***/
section#section-second{
    padding: 18px 5px 10px
}

/*** Carousel Services ***/
.custom-carousel-title{
    display: inline-block;
    position: absolute;
    z-index: 1;
    padding: 20px 50px 20px 15%;
    top: 100px;
    h2{
        margin-bottom: 0px;
    }
}
.carousel-item::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
.custom-carousel-caption{
    h3{
        font-size: 4.5rem;
        margin-bottom: 50px;
        opacity: 0.8;
        line-height: 4rem !important;
    }
    h4{
        font-size: 2rem;
        padding-left: 0px !important;
        margin-bottom: 50px;
    }
}
@media all and (max-width: 576px){
    .carousel-caption{
        left: 10%;
        right: 10% !important;
    }
    .custom-carousel-caption{
        h3{
            font-size: 3rem;
            line-height: 3rem !important;
        }
    }
    .carousel-control-next, .carousel-control-prev{
        display: none !important;
    }
}


/*** Testimonial ***/
.card, .card-header, .card-body{
    border: none;
    background-color: $white
}
.card{
    margin-top: 30px;
    text-align: center;
}
.card-header{
    text-align: center;
    margin-bottom: 10px;

    img.img-thumbnail{
        padding: 0;
        border: none;
        border-radius: 100%;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
}
.card-title{
    text-transform: capitalize;
}