// Variables
- const title = "Administration"
- const headerTitre = "Administration"

- const headerDescription = "BackOffice de DogAttitude"
- const headerImg = "/img/slider/dog-attitude-toiletteur-grenoble-slider_02.jpg"



doctype
html(lang="fr")
    include components/commun/_head.pug

    // Body
    body
        // Header
        include components/commun/_header_admin.pug

        // Main
        main(role="main" id="admin-page")
            include components/commun/_header_transition.pug


        // Scripts
        include components/commun/_js.pug

        
        
