// Variables
- const title = "Contact - Salon de toilettage chiens et chats à St-Égrève - Grenoble (38)"


doctype
html(lang="fr")
    include components/commun/_head.pug

    // Body
    body
        // Header
        include components/commun/_header.pug


        
        // Main
        main(role="main")
            section

        // Footer
        include components/commun/_footer.pug

        // Scripts
        include components/commun/_js.pug

        
        
