- const title = "Contact - Salon de toilettage chiens et chats à St-Égrève - Grenoble (38)"


doctype
html(lang="fr")
    include components/commun/_head.pug

    // Body
    body
        // Header
        include components/commun/_header.pug


        
        // Main
        main(role="main" id="page-contact")
            section(id="section-second" class="bg-white")
                include components/sections/_transition.pug

            section.pb-5.pt-5
                include components/sections/_contact.pug



        // Footer
        include components/commun/_footer.pug

        // Scripts
        include components/commun/_js.pug

        
        
