- const title = "Salon de toilettage chiens et chats à St-Égrève - Grenoble (38)"


doctype
html(lang="fr")
    include components/commun/_head.pug

    // Body
    body
        // Header
        include components/commun/_header.pug

        
        
        // Main
        main(role="main")
            section(id="section-first")
                article.container
                    div.row.no-gutters
                        h1.col-12.text-white.font-weight-bold Le bien-être de <br> votre compagnon
                        h2.col-12.text-white.font-weight-normal enfin à portée de griffe
                        a(class="btn btn-primary custom-margin-top-100" href="/contact.html") Prendre rendez-vous
            
            section(id="section-second" class="bg-white")
                include components/sections/_transition.pug

            section(id="section-third")
                include components/sections/_carousel.pug
                
            section    
                p g
            
        // Footer
        include components/commun/_footer.pug

        // Scripts
        include components/commun/_js.pug

        
        
