doctype
html

    // Head
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8", charset="utf-8")

        // Meta
        title Dog Attitude - Salon de toilettage
        meta(name="description", content="Un salon de toilettage pour refaire une beauté à votre compagnon de tous les jours. Dog Attitude s'occupe de votre chien comme de votre chat !")
        meta(name="theme-color", content="#e91e63")
        meta(name="autor", content="Hugo JACQUES")
        
        // Styles
        block styles
            link(rel="stylesheet", href="css/main.css")
            link(rel="stylesheet", href="vendors/bootstrap/bootstrap.min.css")
            

    // Body
    body
        // Header
        header
            
        // Container
        div

        // Footer
        footer

        // Scripts
        block scripts
            script(src="/vendors/jquery/jquery.min.js")
            script(src="/vendors/bootstrap/bootstrap.min.js")
            script(src="js/app.js")
        
        
