// Variables
- const title = "Statistique"

doctype
html(lang="fr")
    include components/commun/_head.pug

    // Body
    body
        // Header
        include components/commun/_header_admin.pug

        // Main
        main(role="main" id="admin-page")


        // Scripts
        include components/commun/_js.pug

        