- var slide1 = {index: 1, img: "img/dog-attitude-toiletteur-grenoble-bain.jpg",     alt: "Photo d'une baignoire - Dog Attitude",            title: "01. Le bain",       description: "C'est pas la même baingnoire, mais l'idée y est.",    link: "/services", linkText: "Envie d'un bain"};
- var slide2 = {index: 2, img: "img/dog-attitude-toiletteur-grenoble-coupe.jpg",    alt: "Photo d'un coiffeur - Dog Attitude",              title: "02. Le brossage",   description: "C'est pas les mêmes cheveux, mais l'idée y est.",     link: "/services", linkText: "Envie d'un brossage"};
- var slide3 = {index: 3, img: "img/dog-attitude-toiletteur-grenoble-griffe.jpg",   alt: "Photo d'un chat et d'un canapé - Dog Attitude",   title: "03. Les griffes",   description: "C'est le moment de protéger votre canapé.",           link: "/services", linkText: "Envie d'un coupe ongle"};
- var slide4 = {index: 4, img: "img/dog-attitude-toiletteur-grenoble-coupe.jpg",    alt: "Photo d'un coiffeur - Dog Attitude",              title: "04. La coupe",      description: "C'est pas les mêmes cheveux, mais l'idée y est.",     link: "/services", linkText: "Envie d'une coupe"};
- var slide5 = {index: 5, img: "img/dog-attitude-toiletteur-grenoble-bain.jpg",     alt: "Photo d'une baignoire - Dog Attitude",            title: "05. Les yeux",      description: "C'est le moment de protéger votre canapé.",           link: "/services", linkText: "Envie d'un coupe ongle"};
- var slide6 = {index: 6, img: "img/dog-attitude-toiletteur-grenoble-accueil.jpg",  alt: "Photo d'un coiffeur - Dog Attitude",              title: "06. Les dents",     description: "C'est pas la même baingnoire, mais l'idée y est.",    link: "/services", linkText: "Envie d'un bain"};
- var sliders = {slide1, slide2, slide3, slide4, slide5, slide6};



article(class="carousel slide" id="services-slider" data-ride="carousel" data-pause="click")
    ol.carousel-indicators
        each slide in sliders
            li(class= slide.index == 1 ? 'active' : '' data-slide-to=slide.index-1 data-target="#services-slider")

    div(class="custom-carousel-title bg-white")
        h2.font-weight-bold.text-secondary Le toilettage en 6 étapes

    div(class="carousel-inner" role="listbox")
        include _slide.pug

    a(class="carousel-control-prev" href="#services-slider" role="button" data-slide="prev")
        span.btn.font-weight-bold Précedent

    a(class="carousel-control-next" href="#services-slider" role="button" data-slide="next")
        span.btn.font-weight-bold Suivant
