article.container
    div.row.no-gutters
        h5.col-12.text-center.text-secondary Du 
            span.font-weight-bold lundi 
            span au 
            span.font-weight-bold samedi 
            span de 
            span.font-weight-bold 09h00 
            span à 
            span.font-weight-bold 18h00
        h5.col-12.text-center.text-secondary Sur rendez-vous uniquement
            
            
