// Head
title #{title}
meta(charset="utf-8")

// Meta
meta(name="description", content="Un salon de toilettage pour refaire une beauté à votre compagnon de tous les jours. Dog Attitude s'occupe de votre chien comme de votre chat !")
meta(name="keywords" content="Dog Attitude, Grenoble, Saint-Égrève, Toilettage, Chien, Chat, Animaux, Compagnon")

meta(name="theme-color", content="#e91e63")
meta(name="autor", content="Hugo JACQUES")

meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")

// Styles
block styles
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="vendors/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="css/custom.css")
                
