section(class="pt-5 pb-5 header-transition" style="background-image: url("+headerImg+")")
    div.container.text-center.pt-5.pb-2
        h1.font-weight-bold.text-primary #{headerTitre}
        h3.text-white #{headerDescription}
