- var items = {"/": "Accueil", "services.html": "Services", "contact.html": "Contact"}



header(role="banner")
    h5 Dog Attitude

    // NavBar
    nav(role="navigation")
        each value, key in items
            a(class="" href=key) #{value}
