h2.text-white.font-weight-bold.pb-5.pt-5.text-center Restons en contact
div.custom-info.pl-5
    h5.text-white.font-weight-bold.custom-info-icon.custom-info-map Venez nous voir au salon
    p 
        span.text-white.font-weight-light 2 Rue du 19 Mars 1962
        br
        span.text-white.font-weight-light 38120 Saint-Egrève
div.custom-info.pl-5.pt-4
    h5.text-white.font-weight-bold.custom-info-icon.custom-info-tel Appelez nous
    p
        a(href="tel:0608480253" class="text-white font-weight-light") 06 08 48 02 53