block scripts
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR_N2MXxpz_l9yNrCYo26gh3AzE90QCG4") 
    script(src="/vendors/jquery/jquery.min.js" type="text/javascript")
    script(src="/vendors/bootstrap/bootstrap.min.js" type="text/javascript")
    script(src="/vendors/gmaps/gmaps.min.js" type="text/javascript")
    


    script(src="js/app.js" type="text/javascript")
